.category-block {
    .list-cate {
        &.style-three {
            @media (min-width: 1600px) {

                .custom-swiper-button-prev,
                .custom-swiper-button-next {
                    display: none;
                }
            }

            .swiper {
                padding: 24px 0;

                .item {
                    position: relative;

                    &:hover,
                    &.active {
                        span {
                            color: var(--primary);
                        }

                        .text-title {
                            color: var(--black);
                        }
                    }
                }

                @media (max-width: 767.98px) {
                    padding: 16px 0;
                }
            }
        }
    }
}