@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

/* Main color */
:root {
    --primary: #E05028;
    --primary-hover: #c42e04;
    --black: #382C28;
    --variant1: #776E6B;
    --variant2: #B4ABA8;
    --white: #ffffff;
    --outline: #E4E4E4;
    --surface: #F8F8F8;
    --red: #C72929;
    --success: #37B853;
    --yellow: #F4D118;
    --line: #E9E9E9;
}


/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--white);
}

html,
body {
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
    font-weight: 400;
    user-select: none;
    font-family: 'DM Sans', sans-serif !important;
}

div,
span,
p {
    font-size: 16px;
    line-height: 26px;
}

select {
    appearance: none;
    outline: none;
}

.select-block {
    position: relative;

    >.icon {
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% - 1px));
    }
}

input,
textarea {
    outline: none;
    border: 1px solid transparent;
    transition: border-color ease 0.3s;
}

input:focus,
textarea:focus {
    border-color: var(--primary);
}

.checkbox-input {
    width: 16px;
    height: 16px;
    border: 1px solid var(--line);
    border-radius: 4px;
    position: relative;

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
    }

    .icon-checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    input:checked+.icon-checkbox {
        opacity: 1;
    }
}

/* Main class used in Glamphub */
.container {
    max-width: 1322px !important;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

.bg-linear {
    background: linear-gradient(238deg, #FAF8F1 0%, #F6F3EF 99.66%);
}

.box-shadow {
    box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
}

.box-shadow-sm {
    box-shadow: 0px 2px 2px 0px rgba(28, 36, 51, 0.10);
}

.heading1 {
    font-size: 80px;
    line-height: 88px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.heading2 {
    font-size: 56px;
    line-height: 68px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.heading3 {
    font-size: 44px;
    line-height: 52px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.heading4 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.heading5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.heading6 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    font-family: "Jost", '__Jost_f47db6';
}

.text-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", '__Jost_f47db6';
}

.text-button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.28px;
    font-family: "Jost", '__Jost_f47db6';
}

.text-button-sm {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Jost", '__Jost_f47db6';
}

.body2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.caption1 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.caption2 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.text-label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.96px;
    font-family: "Jost", '__Jost_f47db6';
}

.button-main {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Jost", '__Jost_f47db6';
    letter-spacing: 1.28px;
    color: var(--white);
    background-color: var(--primary);
    padding: 14px 24px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: all ease 0.4s;

    &:hover {
        background-color: #c42e04;

        svg {
            path {
                fill: var(--black);
            }
        }
    }
}

@media (max-width: 1023.99px) {
    .heading1 {
        font-size: 62px;
        line-height: 74px;
    }

    .heading2 {
        font-size: 48px;
        line-height: 58px;
    }

    .heading3 {
        font-size: 36px;
        line-height: 48px;
    }

    .heading4 {
        font-size: 28px;
        line-height: 40px;
    }

    .heading5 {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width: 767.98px) {

    html,
    body,
    div,
    span,
    p {
        font-size: 14px;
        line-height: 24px;
    }

    .heading1 {
        font-size: 32px;
        line-height: 42px;
    }

    .heading2 {
        font-size: 28px;
        line-height: 36px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 34px;
    }

    .heading4 {
        font-size: 22px;
        line-height: 32px;
    }

    .heading5 {
        font-size: 20px;
        line-height: 30px;
    }

    .heading6 {
        font-size: 18px;
        line-height: 28px;
    }

    .text-title {
        font-size: 16px;
        line-height: 24px;
    }

    .text-button {
        font-size: 14px;
        line-height: 20px;
    }

    .text-button-sm {
        font-size: 13px;
        line-height: 20px;
    }

    .body2 {
        font-size: 16px;
        line-height: 24px;
    }

    .caption1 {
        font-size: 13px;
        line-height: 22px;
    }

    .caption2 {
        font-size: 12px;
        line-height: 20px;
    }

    .text-label {
        font-size: 12px;
        line-height: 18px;
    }

    .button-main {
        font-size: 14px;
        line-height: 22px;
        padding: 12px 20px;
        border-radius: 6px;
    }
}